<!DOCTYPE html>
<html>
<head>
    <title>Social Recipe</title>
    <% include parts/headers.ejs %>

    <link rel='stylesheet' href='/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' />

    <script>
        const id = "id_menu";
        const name = "menu_name";
        const id_field = "id-menu";

        const rows = <%- JSON.stringify(rows) %>;
    </script>

</head>
<body>

    <% include parts/toolbar.ejs %>

    <div class="container">
        <form action="/menu" method="post">
            <div class="row col-md-10 col-md-offset-1">
                <div class="col-md-5">
                    <div class="input-group" data-toggle="tooltip" title="search for a menu name">
                        <span class="input-group-addon glyphicon glyphicon-search search" id="search-addon"></span>
                        <input <% if(locals.name){ %> value="<%= name %>" <% } %> name="name" id="search_name" type="text" class="form-control" placeholder="Search" aria-describedby="search-addon" oninput="search_value();">
                    </div>
                </div>
                <div class="col-md-5">
                    <div id="search_date_group" class="input-group" data-toggle="tooltip" title="search menus where recipes were added before ...">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input <% if(locals.date){ %> value="<%= date %>" <% } %> name="date" id="search_date" type="text" class="form-control date" placeholder="enter a date ...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick='$("#search_date").val("");'><span class="glyphicon glyphicon-trash"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-groupe">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search <span class="glyphicon glyphicon-filter"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-1 col-md-offset-0">
            <div class="row">
                <a href="/add_menu" id="menu_add"><button type="button" class="btn btn-primary btn-add">Add a menu</button></a>
            </div>
        </div>

        <div class="row col-md-8 col-md-offset-2 spaced">
            <div id="nothing-found" class="alert alert-info" style="display:none;" role="alert"><strong>Woops !</strong> Seems that your request gave nothing ...</div>
            <% for(var i=0;i<rows.length;i++){ %>
            <div id-menu="<%= rows[i]['id_menu'] %>" class="col-sm-5 col-md-3 format-size">
                <div class="thumbnail">
                    <img src="images/meal.jpeg" alt="Meal">
                    <div class="caption">
                        <h3><%= rows[i]['menu_name'] %></h3>
                        <div style="text-align:center;width:100%;">
                            <p><a href="/menu?id=<%= rows[i]['id_menu'] %>" class="btn btn-primary" role="button">See more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>

<script src="/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="javascripts/search_menus.js"></script>

</html>